{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
    <h1>Scores</h1>

    <h4>Catégories:</h4>
    <ul id="navigation">
      {% for cat in categorie %}
          <li>  <a href="/history/{{cat.id}}/user" type="button">{{cat.name}}</a></li>
      {% endfor %}
  </ul>

{% endblock %}
